{% extends "base_generic.html" %}

{% block content %}
    <h1>Welcome</h1>
    {% if available_campaigns %}
        <section>
            <h2>Available campaigns</h2>
            {% for campaign in available_campaigns %}
                <li>
                    <a href="{{ campaign.url }}">{{ campaign.name }}</a>
                </li>
            {% endfor %}
            {% else %}<p>There are no available campaigns to sign up for.</p>
        </section>
    {% endif %}
    {% if my_campaigns %}
        <section>
            {% if my_dm_campaigns %}
                <h2>You are the Dungeon Master for the following campaigns:</h2>
                {% for mdc in my_dm_campaigns %}
                    <li>
                        <a href="{{ mdc.url }}">{{ mdc.name }}</a><br>

                    </li>
                {% endfor %}

            {% endif %}
            {% if my_rp_campaigns %}
                <h2>You are playing in the following campaigns:</h2>
                {% for mrc in my_rp_campaigns %}
                    <li>
                        <a href="{{ mrc.url }}">{{ mrc.name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        {% else %}<p>You are not in any campaigns.</p>
        </section>
    {% endif %}

{% endblock %}